.container {
    height: 50px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.name {
    color: #1a73e8;
    font-size: 1.1rem;
    font-weight: bold;
}

.logout {
    background-color: #1a73e8;
    color:#fff ;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.2s;

}

.logout:hover {
    background-color: #004aaa;
}